<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">
    <title>Bienvenidxs a MercadoLiebre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        <div class="top-header">
            <div class="logo">
                <img src="/images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
            </div>
            <div class="form" action="#" method="GET">
                <div class="input">Buscar productos, marcas y más</div>
                <div class="submit"><i class="fa fa-search"></i></div>
            </div>
            <!--<div class="topnav">   
        <input type="text" placeholder="Buscar productos, marcas">
        <i class="fa-solid fa-magnifying-glass"></i>
        </div>-->
            <p class="pheader"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de credito
            </p>
        </div>
        <nav>
            <ul class="listas">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>

            </ul>
            <ul class="listas">
                <li><a href="/register">Creá tu cuenta <i class="fa-solid fa-address-card"></i></a></i></li>
                <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a> </li>
                <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>


            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
    </header>

    <section class="banner">
        <img src="images/img-home-banner.jpg" alt="Banner de ofertas">
    </section>



    <main>

        <section class="ultimavisita">
            <h3>Basado en tu ultima visita: </h3>

            <div class="productos">
                <article>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera moulinex" class="productos_img">
                    <div class="main-article">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% off</p>
                        <h4 class="descripcion">Cafetera Moulinex</h4>
                    </div>
                </article>


                <article>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook-pro" class="productos_img">
                    <div class="main-article">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% off</p>
                        <h4 class="descripcion">Macbook-pro</h4>
                    </div>
                </article>


                <article>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung galaxy s10" class="productos_img">
                    <div class="main-article">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% off</p>
                        <h4 class="descripcion">Samsung Galaxy S10</h4>
                    </div>
                </article>


                <article>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="tv-samsung-smart" class="productos_img">
                    <div class="main-article">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% off</p>
                        <h4 class="descripcion">SmartTv Samsung 43"</h4>
                    </div>
                </article>

            </div>
        </section>


        <section class="Ofertas">
            <h3>Ofertas:</h3>
            <div class="productos">
                <article>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera moulinex" class="productos_img">
                    <div class="main-article">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% off</p>
                        <h4 class="descripcion">Cafetera Moulinex</h4>
                    </div>
                </article>


                <article>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook-pro" class="productos_img">
                    <div class="main-article">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% off</p>
                        <h4 class="descripcion">Macbook Pro 2019</h4>
                    </div>
                </article>


                <article>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung galaxy s10" class="productos_img">
                    <div class="main-article">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% off</p>
                        <h4 class="descripcion">Samsung Galaxy S10</h4>
                    </div>
                </article>


                <article>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="tv Samsung" class="productos_img">
                    <div class="main-article">
                        <i class="fa-solid fa-truck"></i>
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% off</p>
                        <h4 class="descripcion">SmartTv Samsung 43"</h4>
                    </div>
                </article>


            </div>
        </section>

    </main>
    <br>

    <footer>
        <div class="contenedor">
            <div class="icono">
                <i class="fa-solid fa-credit-card"></i>
            </div>
            <h4 class="h4footer">Pagá con tarjeta o en efectivo</h4>
            <p class="pfooter">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <br>
        <div class="contenedor">
            <div class="icono">
                <i class="fa-solid fa-gift"></i>
            </div>

            <h4 class="h4footer">Envío gratis desde $ 2.500</h4>
            <p class="pfooter">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            <br>
        </div>
        <div class="contenedor">
            <div class="icono">
                <i class="fa-solid fa-user-shield"></i>
            </div>
            <h4 class="h4footer">Seguridad, de principio a fin</h4>
            <p class="pfooter">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
            <br>
        </div>


    </footer>
    <br>
    <p class="pfooter2">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
</body>

</html>